<h1>Actors and Actresses</h1>
<div class="row">
  <div class="col-sm-2">
    <ul style="list-style:none; ">
      {{#each actor in content}}
      <li>{{link-to actor.name "actor" actor}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-10">
    {{outlet}}
  </div>
</div>
