<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    {{link-to "EMDb" "index" class="navbar-brand"}}
  </div>
  <ul class="nav navbar-nav">
    <li>{{link-to "Movies" "movies.index"}}</li>
    <li>{{link-to "Actors" "actors.index"}}</li>
  </ul>
</nav>
{{outlet}}
