<div class="row">
  <div class="col-sm-2">
    <h3>Cast</h3>
    {{#each actor in content}}
      <ul style="list-style:none; ">
        <li>{{link-to actor.name "cast.show" actor}}</li>
      </ul>
    {{/each}}
  </div>
  <div class="col-sm-10">
    {{ outlet }}
  </div>
</div>
