<div class="row">
  <div class="col-sm-2">
    <h3>Cast</h3>
    {{#each actor in content}}
      <li>{{actor.name}}</li>
      </ul>
    {{/each}}
  </div>
  <div class="col-sm-10">
    {{ outlet }}
  </div>
</div>
