<h1>Movies</h1>
<div class="form-inline" style="text-align: center; display:none;">
  <div class="form-group">
    {{ input type="search" placeholder="Star wars, Matrix, 28 days later, etc" size="60" class="form-control"}}
    <button {{action "search"}} class="btn btn-primary">Search</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    {{partial "movies/_sidebar" }}
  </div>
  <div class="col-sm-10">
    {{outlet}}
  </div>
</div>
